.hero {
  width:100%;
  height:600px;
}


.hero-slide {

  height:100%;

  background-size:cover;
  background-position:center;

}


.slide1 {

 background-image:url("../assets/banner1.jpg");

}
.slide2 {
 background-image:url("../assets/banner2.jpg");
}


.slide3 {
 background-image:url("../assets/banner3.jpg");
}