* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

.navbar {
  background: #2c3e50;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 120px;
  background-color: white;
}
.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 24px;
  border: none;
  background: #2874f0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}